SECRET_KEY=django-insecure-m&_ycs7$%4*ypq=0zr+q^0eq6d@_=sn!-hz8el!!t8(^-j&_kp
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,paais.vercel.app
DATABASE_URL=postgres://postgres.rjugbfjlsjchivbfhdcw:LL3ikaVUgZcyEBs6@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,http://localhost:3000,https://.vercel.app
CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,http://localhost:3000,https://.vercel.app
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=mintahkwabena13@gmail.com
EMAIL_HOST_PASSWORD="oths byla dpes vzmy"
DEFAULT_FROM_EMAIL=noreply@paais.vercel.app
EMAIL_TIMEOUT=10
CELERY_BROKER_URL=redis://default:KR3Jgxy1KiGWoAuXeD53I3BwC5WhDI5f@seat-sort-oriole-64954.db.redis.io:18116
CELERY_RESULT_BACKEND=redis://default:KR3Jgxy1KiGWoAuXeD53I3BwC5WhDI5f@seat-sort-oriole-64954.db.redis.io:18116
ANTHROPIC_API_KEY=
APP_NAME='PAAIS Academy'
APP_DESCRIPTION='Learn the AI tools that do your everyday work'
VITE_API_URL=http://localhost:3000